.page {
  font-family: Arial;
  font-size: 14px;
  color: #333;
  background-color: #ffffff;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-bar {
  background: #19538d;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  margin: 0;
  color: #ffffff;
}

.menu-toggle {
  cursor: pointer;
  background: #ffffff;
  color: #1f2933;
  border: none;
}

.menu-toggle:focus {
  outline: 3px solid #ffbf47;
}

.menu {
  background: #e5e7eb;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 4px;
}

.menu a {
  text-decoration: none;
  color: #111827;
}

.menu a:focus {
  outline: 3px solid #ffbf47;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 20px;
  margin: 0;
}

.card {
  background: #c5dffa;
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.card-title {
  font-size: 16px;
  margin: 0 0 8px 0;
}

.text {
  margin: 0;
}

.form {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}

.form-title {
  font-size: 18px;
  margin: 0 0 8px 0;
}

.form-input {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}


.form-input input {
  border: 1px solid #6b7280;
}

.form-input input:focus {
  outline: 3px solid #ffbf47;
}

.save-btn {
  background: #19538d;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 60px;
  padding: 8px 16px;
  border: none;
}

.save-btn:focus {
  outline: 3px solid #ffbf47;
}

.notification {
  background: #065f46;
  color: #ffffff;
  margin-top: 10px;
  padding: 5px;
}

.profile-image {
  max-width: 200px;
  max-height: 200px;
}
